.DS_Store
data/
notes/*.pdf
__pycache__/
*.pyc
output/
*.sol
*.trace

# LaTeX build artifacts
*.aux
*.log
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
report/report.pdf
report/sample-sigconf.tex

# uv
.venv/
.uv/
.python-version

# others
spring2026_project.pdf
Makefile
test.py